@model IEnumerable<AADB2C.WebClientMvc.Models.ResponseModel>
@{
    ViewBag.Title = "Responses";
}


<table class="table table-bordered table-striped table-hover table-condensed" style="table-layout: auto">
   
    <thead>
        
        <tr>
            <td>@Html.DisplayNameFor(model => model.StatusCode)</td>
            
        </tr>
    </thead>
    
</table>