@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>INOVATIC ASP.NET APP</h1>
    <p class="lead">This app is used to generate a token with Azure AD B2C DEV using OpenID Connect authentication and call the Inovatic APIs.</p>
    
</div>

